.post-content h1 {
    margin: 40px auto 32px;
    font-size: 40px;
}

.post-content h2 {
    margin: 32px auto 24px;
    font-size: 32px;
}

.post-content h3 {
    font-size: 24px;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 24px 0 16px;
}

.post-content ul,
.post-content ol {
    margin: 16px 0;
    padding-inline-start: 30px;
}

.post-content li {
    margin: 6px 0;
}

.post-content p {
    margin: 16px 0;
}

.post-content blockquote {
    margin: 20px 0;
}

.post-title {
    margin-bottom: 10px;
}
