<div id="comments" class="comments">
    <script src="https://giscus.app/client.js"
        data-repo="fpulidov/fpulidov.github.io"
        data-repo-id="R_kgDOOcWbuA"
        data-category="Comments"
        data-category-id="DIC_kwDOOcWbuM4CvIMS"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>