{{/* Set base defaults */}}
{{ $title := .Title }}
{{ $url := .Permalink }}
{{ $description := .Summary }}
{{ $image := site.Params.seo.image | absURL }}

{{ if .Params.description }}
  {{ $description = .Params.description }}
{{ else if .Params.summary }}
  {{ $description = .Params.summary }}
{{ end }}

{{ if and (.Params.image) (ne .Params.image "") }}
  {{ $image = .Params.image | absURL }}
{{ end }}

{{ if .IsHome }}
  {{ $title = site.Title }}
  {{ $description = site.Params.seo.description }}
  {{ $url = site.BaseURL }}
  {{ $image = site.Params.seo.image | absURL }}
{{ end }}

{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": "{{ .Title }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "author": {
    "@type": "Person",
    "name": "Javier Pulido"
  },
  "publisher": {
    "@type": "Organization",
    "name": "The Hidden Port"
  },
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
}

</script>
{{ end }}


<!-- Open Graph -->
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<meta property="og:title" content="{{ $title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:url" content="{{ $url }}" />
<meta property="og:image" content="{{ $image }}" />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />
<link rel="canonical" href="{{ $url }}" />
<script src="https://analytics.ahrefs.com/analytics.js" data-key="b4q7XOS5/fFZL+c9Jfry7Q" async></script>
<link rel="alternate" type="application/rss+xml" title="The Hidden Port RSS Feed" href="/index.xml">


<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NJW0JJBT7G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-NJW0JJBT7G');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KZ4PZK7D');</script>
  <!-- End Google Tag Manager -->
