{{/* Prepare variables outside of the tags */}}
{{ $title := .Title }}
{{ $url := .Permalink }}
{{ $description := cond (isset .Params "description") .Params.description (cond (isset .Params "summary") .Params.summary .Summary) }}
{{ $image := cond (isset .Params "image") (.Params.image | absURL) (site.Params.seo.image | absURL) }}

{{ if .IsHome }}
  {{ $title = site.Title }}
  {{ $description = site.Params.description }}
  {{ $url = site.BaseURL }}
  {{ $image = site.Params.seo.image | absURL }}
{{ end }}

<!-- Open Graph -->
<meta property="og:title" content="{{ $title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:url" content="{{ $url }}" />
<meta property="og:image" content="{{ $image }}" />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />
<link rel="canonical" href="{{ $url }}" />

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NJW0JJBT7G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-NJW0JJBT7G');
</script>
