{{/* Set base defaults */}}
{{ $title := .Title }}
{{ $url := .Permalink }}
{{ $description := .Summary }}
{{ $image := site.Params.seo.image | absURL }}

{{ if .Params.description }}
  {{ $description = .Params.description }}
{{ else if .Params.summary }}
  {{ $description = .Params.summary }}
{{ end }}

{{ if and (.Params.image) (ne .Params.image "") }}
  {{ $image = .Params.image | absURL }}
{{ end }}

{{ if .IsHome }}
  {{ $title = site.Title }}
  {{ $description = site.Params.seo.description }}
  {{ $url = site.BaseURL }}
  {{ $image = site.Params.seo.image | absURL }}
{{ end }}

<!-- Open Graph -->
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<meta property="og:title" content="{{ $title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:url" content="{{ $url }}" />
<meta property="og:image" content="{{ $image }}" />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />
<link rel="canonical" href="{{ $url }}" />



<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NJW0JJBT7G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-NJW0JJBT7G');
</script>
